img {
  max-width: 100%;
  max-height: 100%;
}

/**
** Visually hidden taken from HTML5 Boilerplate
** for exclusive use of screen readers
*/
.mti-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
