@import '../variables';

.mti-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  z-index: 4;
}

.mti-navbar__links {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  color: $color-white;

  &-left {
    height: 100%;
  }

  &-right {
    display: flex;
    flex-flow: row nowrap;
    color: $color-primary;
  }
}

.mti-navbar__link {
  display: inline-block;
  margin: 0 20px;

  & > a {
    color: $color-white;
    transition: color 0.2s $animation-material-timing-function;

    &:hover {
      color: $color-primary;
    }
  }
}
